 h1 {
    text-align: center;
    color: palevioletred; 
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large; 
 }

 h2 {
    text-align: center;
    color: deeppink; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic; 
 }

 h3 {
    text-align: center;
    color: violet;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;  
 }

.bouton {
display: flex; 
justify-content: space-around; 
}
.center{
    display: flex; 
    justify-content: space-around;  
}
.paris {
   
    margin-left: 50; 
    border-radius: 8%; 
}

.one {
    text-align: center; 
color:coral ;
font-family: Georgia, 'Times New Roman', Times, serif; 
font-size: x-large;  
}

.two {
    text-align: end; 
    color: crimson; 
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large; 
}